body {
  margin: 0;
  padding: 0;
}

.App {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #e3e6e7;
}

.App-header {
  background-color: #3b3e42;
  height: 110px;
  box-shadow: 0 0 15px -2px #212325;
}

h1 {
  display: inline-block; 
  margin: 0 0 0 22px;
  padding: 20px 0 16px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #aca9a6;
  border-bottom: 1px solid #aca9a6; 
}

p, span, tspan {
  font-family: 'Open Sans', sans-serif;
}

.filter-container {
  width: 600px;
  /* height: 80px; */
  margin: 8px 0 0 22px;
}
.filter-container > label > p {
  display: inline-block;
  margin: 0;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  font-size: 15px;
  color: #aca9a6;
  padding: 0 10px 0 10px;
}
.filter-container > label > input {
  display: inline-block;
  height: 20px;
  width: 17px;
  line-height: 20px;
  vertical-align: middle;
}

.map-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 110px);
  margin: 0;
  overflow-x: scroll;
  overflow-y: scroll;
}

.map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1800px;
  height: 700px;
  background-image: url("floor-map.png");
  background-size: cover;
  z-index: 0;

}

.node-container {
  position: absolute;
  margin-left: 22px;
  z-index: 1;
}

.node-box {
  margin-top: 22px;
  height: 80px;
  width: 320px;
  background-color: #f0f2f3;
  border-bottom: 3px solid #555351;
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 0px 6px 0px #333333; 
  box-shadow: 0px 0px 6px 0px #333333;
}

.node-title {
  display: inline-block;
  margin: 14px;
  color: #777574;
  font-weight: 700;
}

.node-gauges {
  margin-left: 14px;
  height: 20px;
  color: #777574;
  line-height: 20px;
}

.node-label {
  display: inline-block;
  width: 50px;
  color: #777574;
  vertical-align: top;
  line-height: 20px;
  margin: 0 10px 0 10px;
}

.node-label > i {
  font-size: 24px;
  line-height: 20px;
  vertical-align: top;
}

.indicator-circle {
  display: inline-block;

  line-height: 20px;
  vertical-align: middle;
  margin-top: -5px;

  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
}

#graph-container {
  display: block;
  position: absolute;
  width: calc(50% - 22px);
  height: calc(100vh - 144px);
  right: 22px;
  top: 122px;
  background-color: #f0f2f3;
  border-bottom: 3px solid #555351;
  border-radius: 3px;
  /* overflow: scroll; */
  -webkit-box-shadow: 0px 0px 6px 0px #333333; 
  box-shadow: 0px 0px 6px 0px #333333;

  transition:opacity 1s linear;
}
#graph-container > i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #777574;
  cursor: pointer;
}

.graph-view {
  margin: 22px 0 0 22px;
}